<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1 align="center">Страница добавления карты</h1>

<form  data-th-action="@{/add-card}" method="post">
    <div align="center">
        <input name="name" type="form-control" placeholder="cardname">
        <input name="rate" type="form-control" placeholder="rate">
        <input name="description" type="form-control" placeholder="decription">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

</body>
</html>