<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h5 align="center"> Текущая карта</h5>

<div class="container">
    <div class="col">
        <div class="card mb-4" style="max-width: 540px;">
            <div class="row no-gutters ">
                <div class="col-md-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnPtrPDdWd_X5VP2lYeiRIyI72CCM_aKk-eaMuo0rypMqALC8b"
                         class="card-img" style="width: 12rem;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Cardname: [[${card.getCardname()}]]</h5>
                        <p class="card-text">Card rate (%): [[${card.getRate()}]]</p>
                        <p class="card-text">Card description: [[${card.getDescription()}]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}" data-th-action="@{/remove/{id}(id = ${card.getId()})}" method="post">
    <button class="btn btn-danger">Remove Card </button>
</form>

<a data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}" data-th-href="@{/edit/{id}(id = ${card.getId()})}" class="btn btn-primary">Edit</a>

<a data-th-href="@{/back}" class="btn btn-primary">Back to card list</a>
<a data-th-href="@{/reg-card/{id}(id=${card.getId()})}" class="btn btn-primary">Registration card</a>
</body>
</html>