<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form>
                <div class="row">
                    <div class="col">
                        <input class="form-control" data-th-value="${search}" name="search" type="search"
                               placeholder="Search">
                    </div>
                </div>
</form>
                <

<div class="container">
    <div class="row">
        <div class="col">
            <div align="right">
                <a class="btn btn-link" data-th-if="${#authorization.expression('isAnonymous()')}"
                             data-th-href="@{/register}">Регистрация</a>
                <a  class="btn btn-link"  data-th-if="${#authorization.expression('isAnonymous()')}"
                        data-th-href="@{/login}">Войти</a>
                <form class="btn btn-link"
                        data-th-if="${#authorization.expression('isAuthenticated()')}"
                        data-th-action="@{/logout}" method="post">
                    <button>Выйти</button>
                </form>
                <div class="btn-group" role="group" aria-label="Basic example">
                   <a class="btn btn-link" data-th-if="${#authorization.expression('isAuthenticated()')}"
                       data-th-href="@{/personalArea}">Личный кабинет</a>
                   <a class="btn btn-link" data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}"
                       data-th-href="@{/admin}">Панель управления</a>
                </div>
            </div>

            <h1 align="center">Добро пожаловать</h1>

        </div>
    </div>
</div>

<div class="container">
    <div class="col">
        <form>
            <div class="row mt-3">
                <div align="center" class="card text-white" data-th-each="card : ${cards}">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnPtrPDdWd_X5VP2lYeiRIyI72CCM_aKk-eaMuo0rypMqALC8b"
                         class="card-img"
                         style="width: 18rem;">
                    <a data-th-href="@{/card/{id}(id=${card.getId()})}">
                        <div class="card-img-overlay">
                            <h5 class="card-title">[[${card.getCardname()}]]</h5>
                            <p class="card-text">[[${card.getRate()}]]</p>
                            <p class="card-text">[[${card.getDescription()}]]</p>
                        </div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="col">
        <form>
                <div class="row mt-3">
                <div align="center" class="card text-white" data-th-each="card : ${usercards}">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnPtrPDdWd_X5VP2lYeiRIyI72CCM_aKk-eaMuo0rypMqALC8b"
                         class="card-img"
                         style="width: 18rem;">
                        <div class="card-img-overlay">
                          <h5 class="card-title">[[${card.getCardname()}]]</h5>
                          <p class="card-text">[[${card.getRate()}]]</p>
                          <p class="card-text">[[${card.getDescription()}]]</p>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>