<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <div align="right">
                <div data-th-include="/fragments/layout :: registerFragment"></div>
                <div data-th-include="/fragments/layout :: loginFragment"></div>
                <div data-th-include="/fragments/layout :: logoutFragment"></div>
                <div data-th-include="/fragments/layout :: adminFragment"></div>
            </div>

            <h1 align="center">Добро пожаловать</h1>


        </div>
    </div>
</div>

<div class="container">
    <div class="col">
        <form>
            <div class="row mt-3">
                <div align="center" class="card text-white" data-th-each="card : ${cards}">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnPtrPDdWd_X5VP2lYeiRIyI72CCM_aKk-eaMuo0rypMqALC8b"
                         class="card-img"
                         style="width: 18rem;">
                    <a data-th-href="@{/card/{id}(id=${card.getId()})}">
                        <div class="card-img-overlay">
                            <h5 class="card-title">[[${card.getCardname()}]]</h5>
                            <p class="card-text">[[${card.getRate()}]]</p>
                            <p class="card-text">[[${card.getDescription()}]]</p>
                        </div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>



</body>
</html>