<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" data-th-href="@{/back}">РомБанк</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" data-th-if="${#authorization.expression('isAuthenticated()')}"
                   data-th-href="@{/personalArea}">Личный кабинет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}"
                   data-th-href="@{/admin}">Панель управления</a>
            </li>
        </ul>
        <form class="form-inline" data-th-if="${#authorization.expression('isAnonymous()')}">
            <a class="btn btn-outline-success" data-th-href="@{/login}" >Войти</a>
        </form>
        <form class="form-inline" data-th-if="${#authorization.expression('isAuthenticated()')}">
            <input class="form-control mr-sm-2" type="search" data-th-value="${search}" name="search" placeholder="Поиск" aria-label="Search" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>

            <form class="form-inline" data-th-if="${#authorization.expression('isAuthenticated()')}" data-th-action="@{/logout}" method="post">
                <button class="btn btn-outline-danger">Выйти</button>
            </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
          <h1 align="center">Добро пожаловать</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="col">
        <form>
            <div class="row mt-3">
                <div align="center" class="card text-white" data-th-each="card : ${cards}">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnPtrPDdWd_X5VP2lYeiRIyI72CCM_aKk-eaMuo0rypMqALC8b"
                         class="card-img"
                         style="width: 18rem;">
                    <a data-th-href="@{/card/{id}(id=${card.getId()})}">
                        <div class="card-img-overlay">
                            <h5 class="card-title">[[${card.getCardname()}]]</h5>
                            <p class="card-text">[[${card.getRate()}]]</p>
                            <p class="card-text">[[${card.getDescription()}]]</p>
                        </div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="col">
        <form>
                <div class="row mt-3">
                <div align="center" class="card text-white" data-th-each="card : ${usercards}">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnPtrPDdWd_X5VP2lYeiRIyI72CCM_aKk-eaMuo0rypMqALC8b"
                         class="card-img"
                         style="width: 18rem;">
                        <div class="card-img-overlay">
                          <h5 class="card-title">[[${card.getCardname()}]]</h5>
                          <p class="card-text">[[${card.getRate()}]]</p>
                          <p class="card-text">[[${card.getDescription()}]]</p>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>